{% extends 'base.html.twig' %}

{% block body %}
    <h3>Panel administratora</h3>
    <a class="btn btn-primary mt-0 ml-0" href="{{ path('admin_courses_index') }}">Kursy</a>
    <a class="btn btn-primary mt-0 ml-0" href="{{ path('file_index') }}">Pliki</a>
    <a class="btn btn-primary mt-0 ml-0" href="{{ path('admin_users_index') }}">Użytkownicy</a>
{% endblock %}
