{% extends 'base.html.twig' %}
{% block title %}SUW - Strona główna{% endblock %}
{% block body %}
    <h3>Opis systemu</h3>
    <p>System SUW, czyli rozwijając System Udostępniania Wykładów, ma za zadanie ułatwienie przekazywania treści
        omawianych na zajęciach w formie plików PDF/kursów. Produkt skierowany jest dla studentów oraz wykładowców.
        Podstawowe cechy i funkcje:</p>
    <ul>
        <li>Możliwość dodawania kursów</li>
        <li>Możliwość dodawania wykładów</li>
        <li>Dostęp do części publicznej, czyli strony głównej w formie one-page, może uzyskać użytkownik typu „Gość”
            –
            niezalogowany/niezarejestrowany
        </li>
        <li>Dostęp do części zamkniętej przez administratora oraz zalogowanego użytkownika.</li>
        <li>Możliwość dostępu dla studentów do zamieszczanych treści według przydzielonych uprawnień przy pomocy
            numeru albumu.
        </li>
    </ul>
{% endblock %}
