$box-shadow-color:  rgba(0, 0, 0, 0.2);

// nav 
$default-nav-color: #007bff;
$default-nav-text-color: white;
$default-nav-desktop-active-background: #007bff;
$default-nav-desktop-active-text-color: white;
$default-nav-desktop-text-color: black;

// statistics
$statistics-badge-txt-color: white;
$statistics-badge-bg-color: #007bff;

// buttons
$btn-light-color: white;
$btn-light-color-txt: black;
$btn-light-color-hover: #f8f9fa;
$btn-light-color-txt-hover: black;

$btn-primary-color: #007bff;
$btn-primary-color-txt: white;
$btn-primary-color-hover: #0069d9;
$btn-primary-color-txt-hover: white;

// bootstrap default color/primary is #007bff !

html, body {
    height: 100%;
    width: 100%;
    background: #FFF;
}

.btn {
    margin: 20px;
}

.main-content{
    padding-top: 10px;
    margin: 0;
}

.text-center {
    text-align: center;
    align-items: center;
    align-content: center;
}

.collapsible-menu {
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    border-top: 3px solid green;
    box-shadow: 1px 2px 3px $box-shadow-color;
    color: $default-nav-text-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    .navbar-brand {
        display: inline-block;
        font-size: 42px;
        padding: 10px;
        text-decoration: none;
        color: $default-nav-text-color;
    }
}

.hidden {
    display: none;
}

td a {
    display: block;
}

th a{
    display: block;
    color: black;
}

.cbalink {
    display: none;
}

.big-nav {
    min-width: 185px;
}

/*SMARTFON*/
@media (max-width: 1280px) {
    /* style tylko dla ekranów o szerokości nie większej niż 767px - typowe smartfony */

    .mobile {
        display: block;
    }

    .mobile-active {
        text-shadow: 0px 2px 5px rgb(255, 254, 254);
    }

    .big-nav {
        display: none;
    }

    /* MENU */
    .mobile-menu-content {
        max-height: 0;
        overflow: hidden;
    }

    .collapsible-menu {

        ul {
            list-style-type: none;
            padding: 0;
        }

        a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: $default-nav-text-color;
        }

        .btn-inline {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
        }

        label {
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }
    }

    input{
        &#menu {
            display: none;
        }

        /* Toggle Effect */
        &:checked ~ .mobile-menu-content {
            max-height: 100%;
        }
    }

    .btn-mobile {
        margin: 15px;
    }
}

/* komputery osobiste */
@media (min-width: 1280px) {

    .mobile {
        display: none;
    }

    .small-nav {
        display: none;
    }

    .nav-buttons {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .statistics {
        margin-top: 30px;
    }

    .nav-left-site {
        margin-top: 30px;
    }
}

///// OVERWRITING BOOTSTRAP STYLES /////

.text-primary {
    color: $default-nav-text-color;
}

.bg-primary {
    background-color: $default-nav-color!important;
}

.list-group-item {

    color: $default-nav-desktop-text-color;

    &.active {
        background-color: $default-nav-desktop-active-background;
        border-color: $default-nav-desktop-active-background;
        color: $default-nav-desktop-active-text-color;
    }
}

.badge-primary {
    color: $statistics-badge-txt-color;
    background-color: $statistics-badge-bg-color;
}

.btn-light {
    color: $btn-light-color-txt;
    background-color: $btn-light-color;
    border-color: $btn-light-color;

    &:hover{
        color: $btn-light-color-txt-hover;
        background-color: $btn-light-color-hover;
        border-color: $btn-light-color-hover;    
    }
}

.btn-primary {
    color: $btn-primary-color-txt;
    background-color: $btn-primary-color;
    border-color: $btn-primary-color;

    &:hover{
        color: $btn-primary-color-txt-hover;
        background-color: $btn-primary-color-hover;
        border-color: $btn-primary-color-hover;
    }
}


